.last {
    background: linear-gradient(265deg, rgba(240,240,240,1) 0%, rgba(205,203,204,1) 100%);
    &__wrap {
        max-width: 1310px;
        padding: 0 15px;
        margin: 0 auto;
        width: 100%;
    }

    &__in {
        padding: 110px 0;
    }

    &__title {
        margin-bottom: 35px;
    }

    &__body {
        display: flex;
        align-items: center;
        justify-content: space-between;

        &_main {
            display: flex;
            
            align-items: center;
            width: 50%;

            &_title {
                max-width: 130px;
                width: 100%;
                font-weight: 400;
                font-size: 15px;
                line-height: 19px;
                margin-right: 50px;
            }

            &_item {
                margin-right: 50px;
            }
        }

        &_list {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 50%;
            border-left: 1px solid #7D7D7D;
            border-right: 1px solid #7D7D7D;
            padding: 0 50px;

            &_item {
                flex: 0 0 auto;

                
            }
        }
    }
}


@media (max-width: 1150px) {

    .last {

        &__wrap {

        }

        &__in {

        }

        &__title {

        }

        &__body {
            flex-wrap: wrap;

            &_main {
                justify-content: space-evenly;
                width: 100%;
                margin-bottom: 25px;

                &_title {
                    margin: 0;
                }

                &_item {
                    margin: 0;
                }
            }

            &_list {
                width: 100%;
                border: 0;
            }
        }
    }
}


@media (max-width: 700px) {

    .last {

        &__wrap {

        }

        &__title {
            text-align: center;
        }

        &__in {
            padding: 30px 0;
        }

        &__body {

            &_main {
                flex-wrap: wrap;
                align-items: center;

                &_title {
                    max-width: unset;
                    width: 100%;
                    text-align: center;
                    margin-bottom: 25px;
                }

                &_item {
                    width: 100%;
                    display: flex;
                    justify-content: center;
                    margin-bottom: 25px;
                }

            }

            &_list {

                flex-wrap: wrap;
                padding: 0;
                padding-top: 30px;

                border-top: 1px solid #7D7D7D;

                &_item {
                    width: 50%;
                    display: flex;
                    justify-content: center;
                    margin-bottom: 15px;
                }
            }
        }
    }
}