.menu.active {
    transform: translateX(0%);


    .menu__nav_item {
        opacity: 1;
        transform: translateX(0);
    }
}

.menu {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 11;
    width: 100%;
    height: 100%;
    background-color: var(--blue);
    transform: translateX(-100%);
    transition: all .7s ease-in-out;
    background-image: url('../img/hero/hero-bg.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;


    &__nav {
        padding-top: 100px;
        padding-left: 100px;
        height: 100%;
        position: relative;

        &_soc {
            display: none;
        }

        &_vd {
            position: absolute;
            top: 50px;
            right: 50px;
            width: 313px;
            height: 191px;
            border-radius: 10px;
            overflow: hidden;

            &_btn {
                position: absolute;
                top: calc(50% - 21px);
                left: calc(50% - 22px);
                @include def_anim;
                cursor: pointer;

                &:hover {
                    transform: scale(1.1);
                }
            }




            &_pl {
                width: 100%;
                height: 100%;
                
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
        }

        &_list {
            height: 100%;
            display: flex;
            flex-direction: column;
            overflow-y: auto;
            
        }

        &_item.p-0 {
            padding-left: 0;
            
        }

        &_item.p-20 {
            padding-left: 20%;
            
        }

        &_item.p-40 {
            padding-left: 40%;
            
        }

        &_item {
            margin-bottom: 50px;
            opacity: 0;
            transform: translateX(-100%);
            transition: all 1s ease-in-out;


            &:nth-child(1) {
                transition-delay: 0s;
            }

            &:nth-child(2) {
                transition-delay: 0.2s;
            }

            &:nth-child(3) {
                transition-delay: 0.4s;
            }

            &:nth-child(4) {
                transition-delay: 0.6s;
            }

            &:nth-child(5) {
                transition-delay: 0.8s;
            }

            
            a {
                font-weight: 400;
                font-size: 72px;
                line-height: 92px;
                color: #fff;
                display: block;
            }

            
        }
    }
}


@media (max-width: 1370px) {

    .menu {

        &__nav {
            
            &_item {
                a {
                    font-size: 50px;
                    line-height: 60px;
                }
            }
        }
    }
}

@media (max-width: 1000px) {

    .menu.active {
        
        .menu__nav_soc_item {
            opacity: 1;
            transform: translateX(0);
        }
    }
    .menu {
        width: 60%;
        z-index: 9;
        position: fixed;

        &__nav {
            padding: 25px;
            padding-top: 125px;

            &_soc {
                display: block;

                &_item {
                    display: block;
                    margin-bottom: 25px;
                    font-weight: 400;
                    font-size: 18px;
                    line-height: 25px;
                    text-transform: uppercase;
                    color: #fff;
                    opacity: 0;
                    transform: translateX(-100%);
                    transition: all 1s ease-in-out;


                    &:nth-child(1) {
                        transition-delay: 1s;
                    }

                    &:nth-child(2) {
                        transition-delay: 1.2s;
                    }

                    &:nth-child(3) {
                        transition-delay: 1.4s;
                    }

                }
            }

            &_vd {
                display: none;

                
            }

            &_list {
                height: auto;
                margin-bottom: 35px;
            }
            &_item {
                margin-bottom: 0;
                margin-bottom: 30px;

                &:last-child {
                    margin-bottom: 0;
                }
                a {
                    font-weight: 400;
                    font-size: 18px;
                    line-height: 25px;
                    text-transform: uppercase;
                }
            }

            &_item.p-0 {
                padding-left: 0;
            }

            &_item.p-20 {
                padding-left: 0;
            }

            &_item.p-40 {
                padding-left: 0;
            }

           
        }

        
    }
}


@media (max-width: 550px) {
    .menu {
        width: 100%;
    }
}