.news_hero {
    width: 100%;
    height: 100vh;
    
    &__back {
        display: none;
        font-weight: 400;
        font-size: 12px;
        line-height: 15px;

        .icon {
            margin-right: 10px;
        }
    }

    &__bg {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;

        &:after {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba(16, 24, 41, 0.5);
            z-index: 2;
            content: '';
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }


    &__wrap {
        width: 100%;
        height: 100%;
        max-width: 1300px;
        padding: 0 15px;
        margin: 0 auto;
        padding-left: 70px;
    }   

    &__in {
        width: 100%;
        height: 100%;
        display: flex;  
        flex-direction: column;
        justify-content: space-between;
        position: relative;
        z-index: 3;
        padding-top: 130px;
        
    }
    &__body {
        height: 60vh;
        background-image: url('../img/hero/hero-bg.svg');
        background-repeat: no-repeat;
        background-size: contain;
        background-position: left;
    }

    &__title {
        font-weight: 400;
        font-size: 40px;
        line-height: 51px;
        text-transform: uppercase;
        text-align: center;
        color: #fff;
        margin-bottom: 50px;
    }

    &__date {
        font-weight: 500;
        font-size: 18px;
        line-height: 23px;
        color: #fff;
        text-align: center;
        text-transform: uppercase;
    }
}


@media (max-width: 1000px) {

    .news_hero {

        &__back {
            display: flex;
            justify-content: flex-start;
            align-items: center;

            a {
                display: inline-flex;
                align-items: center;

                span {
                    color: #fff;
                }
            }
        }
        .bc {
            display: none;
        }

        &__title {
            font-size: 30px;
            line-height: 40px;
        }

        &__wrap {
            padding-left: 15px;
        }

        &__in {

        }
    }
}

@media (max-width: 650px) {

    .news_hero {

        &__title {
            font-size: 18px;
            line-height: 22px;
        }
    }
}