.res {
    padding: 100px 0;
    
    &__wrap {
        max-width: 1393px;
        padding: 0 15px;
        width: 100%;
        margin: 0 auto;
    }

    &__in {
        width: 100%;
    }

    &__head {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 55px;

        &_main {
            display: flex;

            &_title {
                font-weight: 400;
                font-size: 33px;
                line-height: 42px;
                max-width: 684px;
                width: 100%;
                text-transform: uppercase;
            }

            &_ex {
                max-width: 127px;
                width: 100%;
                color: var(--blue);
                text-transform: uppercase;
                font-weight: 400;
                font-size: 16px;
                line-height: 20px;
                margin-right: 36px;
            }
        }

        &_btn {
            .button {
                border-color: var(--black);
                .line.lineTop {
                    //background: linear-gradient(to left, #fff,rgba(255,255,255,0));
                    background-color: #000;
                }

                .line.lineRight {
                    //background: linear-gradient(to top, #fff, rgba(255,255,255,0));
                    background-color: #000;
                }

                .line.lineBottom {
                    //background: linear-gradient(to right, #fff, rgba(255,255,255,0));
                    background-color: #000;
                }

                .line.lineLeft {
                    //background: linear-gradient(to bottom, #fff, rgba(255,255,255,0));
                    background-color: #000;
                }

                .text {
                    color: var(--black);
                }

                &:hover {
                    background-color: var(--black);

                    .text {
                        color: #fff;
                    }

                    .icon {
                        svg {
                            path {
                                fill: #fff;
                            }
                        }
                    }
                }
            }
        }
    }

    &__body {

        &_wr {

        }

        &_scrollbar {
            display: none;
        }

        &_item {
            cursor: pointer;

            &:hover {

                .res__body_item_main {

                    &_img {

                        &:after {
                            height: 70%;
                            opacity: 1;
                        }

                        img {
                            opacity: 1;
                        }
                    }
                }
            }
            &_head {
                display: flex;
                align-items: center;
                .num {
                    font-weight: 400;
                    font-size: 90px;
                    line-height: 115px;
                    margin-right: 13px;
                }

                .descr {

                    &__top {
                        font-weight: 400;
                        font-size: 24px;
                        line-height: 31px;
                    }

                    &__bot {
                        font-weight: 400;
                        font-size: 14px;
                        line-height: 18px;
                    }
                }
            }

            &_main {
                position: relative;
                border-radius: 5px;
                overflow: hidden;

                &_img {
                    width: 100%;
                    height: 100%;
                    position: relative;

                    &:after {
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        background-color: var(--gold);
                        opacity: 0.7;
                        content: '';    
                        z-index: 2;
                        @include def_anim
                        
                    }

                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        position: relative;
                        z-index: 1;
                        opacity: 0.7;
                        @include def_anim;
                    }
                }

                &_descr {
                    position: absolute;
                    z-index: 3;
                    bottom: 0;
                    left: 0;
                    width: 100%;
                    // height: 100%;
                    padding: 25px;
                    color: #fff;
                    .title {
                        font-weight: 400;
                        font-size: 24px;
                        line-height: 31px;
                    }

                    .text {
                        font-weight: 400;
                        font-size: 24px;
                        line-height: 31px;
                    }
                    
                    .link {
                        display: inline-block;
                        font-weight: 400;
                        font-size: 14px;
                        line-height: 18px;
                        @include def_anim;

                        &:hover {
                            color: var(--blue);
                        }
                    }
                }
            }
        }
    }
}


@media (max-width: 1300px) {

    .res {
        padding: 50px 0;

        &__wrap {

        }

        &__in {

        }

        &__head {

            &_main {
                width: 60%;
                &_title {
                    font-size: 25px;
                    line-height: 30px;
                    max-width: unset;
                }

                &_ex {

                }
            }

            &_btn {
                width: 40%;
                display: flex;
                justify-content: flex-end;

                .button {
                    display: inline-flex;
                }
            }
        }
    }
}


@media (max-width: 1000px) {

    .res {

        &__wrap {

        }

        &__head {
            margin-bottom: 30px;
            flex-wrap: wrap;

            &_main {
                width: 100%;
                margin-bottom: 29px;
                flex-wrap: wrap;

                &_ex {
                    width: 100%;
                    margin-bottom: 10px;
                }
                &_title {
                    width: 100%;
                }
            }

            &_btn {
                width: 100%;
                justify-content: flex-start;
            }
        }

        &__body {
            padding-bottom: 50px;
            position: relative;

            &_item.swiper-slide-active {

                .res__body_item_head {
                    .num {
                        color: var(--gold);
                    }
                }
            }
            &_item {

                &_main {

                    &_img {
                        max-height: 290px;
                    }
                }
            }

            &_scrollbar {
                display: block;
                height: 7px;
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;
                background-color: 
                #C4C4C4;
                border-radius: 15px;

                .swiper-scrollbar-drag {
                    border-radius: 15px;
                    background-color: var(--blue);
                }
            }
        }
    }
}

@media (max-width: 700px) {

    .res {

        &__head {

            &_main {

                &_ex {
                    font-size: 14px;
                    line-height: 16px;
                    text-transform: unset;
                }
                &_title {
                    font-size: 14px;
                    line-height: 16px;
                    text-transform: unset;
                }
            }
        }

        &__body {

            &_item {


                &_head {

                    .num {
                        font-size: 40px;
                        line-height: 50px;
                    }

                    .descr {

                        &__top {
                            font-size: 18px;
                            line-height: 20px;
                        }

                        &__bot {
                            font-size: 14px;
                            line-height: 16px;
                            text-transform: lowercase;
                        }
                    }
                }


                &_main {
                    &_descr {
                        font-size: 14px;
                        line-height: 16px;

                        .title {
                            font-size: 16px;
                            line-height: 18px;
                        }

                        .text {
                            font-size: 16px;
                            line-height: 18px;
                        }

                        .link {
                            font-size: 12px;
                            line-height: 14px;
                        }
                    }
                }
            }
        }
    }
}