@font-face {
  font-family: "AkzidenzGroteskPro-Ext";
  src: url("../fonts/akzidenzgroteskpro-ext.eot");
  /* IE 9 Compatibility Mode */
  src: url("../fonts/akzidenzgroteskpro-ext.eot?#iefix") format("embedded-opentype"), url("../fonts/akzidenzgroteskpro-ext.woff2") format("woff2"), url("../fonts/akzidenzgroteskpro-ext.woff") format("woff"), url("../fonts/akzidenzgroteskpro-ext.ttf") format("truetype"), url("../fonts/akzidenzgroteskpro-ext.svg#akzidenzgroteskpro-ext") format("svg");
  /* Chrome < 4, Legacy iOS */
}
:root {
  --black: #1F1F1F;
  --blue: #3F5076;
  --gray: #232323;
  --gold: #B59C67;
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}

input, button, textarea, select {
  background-color: transparent;
  border: none;
  font-family: inherit;
}

html {
  scroll-behavior: smooth;
}

body {
  width: 100%;
  height: 100%;
  font-family: "AkzidenzGroteskPro-Ext";
  font-weight: 400;
  color: var(--black);
  overflow-x: hidden;
  font-size: 23px;
  line-height: 38px;
  font-weight: 400;
}

.section__title {
  font-weight: 400;
  font-size: 68px;
  line-height: 87px;
  font-weight: 400;
  text-transform: uppercase;
}

.section__title.black {
  color: var(--black);
}

.section__title.blue {
  color: var(--blue);
}

.section__title.white {
  color: #fff;
}

.button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 17px 33px;
  border: 1px solid #fff;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.button:hover {
  background-color: #fff;
}
.button:hover span {
  color: var(--blue);
}
.button:hover .icon svg path {
  fill: var(--blue);
}
.button:hover .icon svg line {
  stroke: var(--blue);
}
.button span {
  display: block;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  color: #fff;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  text-transform: uppercase;
}
.button .icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.button .icon svg path, .button .icon svg line {
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.button .icon.icon_left {
  margin-right: 10px;
}
.button .icon.icon_right {
  margin-left: 10px;
}

@media (max-width: 1300px) {
  .button {
    padding: 10px 20px;
  }
  .button span {
    font-size: 15px;
    line-height: 17px;
  }
}
.header.active {
  background-color: rgba(var(--blue), 0.5);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
}

.header {
  position: fixed;
  top: 0;
  width: 100%;
  left: 0;
  width: 100%;
  z-index: 10;
  background-color: rgba(var(--blue), 0);
  -webkit-backdrop-filter: blur(0px);
          backdrop-filter: blur(0px);
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.header__wrap {
  max-width: 70vw;
  width: 100%;
  margin: 0 auto;
}
.header__in {
  padding: 25px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.header__logo {
  display: inline-block;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.header__logo img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.header__logo_text {
  display: none;
}
.header__logo:hover {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}
.header__nav_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__nav_item {
  margin-right: 30px;
}
.header__nav_item:last-child {
  margin: 0;
}
.header__nav_item a {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #fff;
}
.header__mob {
  display: none;
}

@media (max-width: 1300px) {
  .header__wrap {
    max-width: 1230px;
    padding: 0 15px;
    padding-left: 65px;
  }
}
@media (max-width: 1150px) {
  .header__in {
    padding: 10px 0;
  }
  .header__logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .header__logo img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
}
@media (max-width: 1000px) {
  .header__wrap {
    padding: 0 15px;
  }
  .header__nav {
    display: none;
  }
  .header__logo_text {
    display: block;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #fff;
    margin-left: 23px;
    max-width: 100px;
    width: 100%;
  }
  .header__mob.active span:nth-child(1) {
    top: calc(50% - 1px);
    left: 0;
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  .header__mob.active span:nth-child(2) {
    bottom: calc(50% - 1px);
    left: 0;
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
  .header__mob {
    display: block;
    width: 30px;
    height: 22px;
    position: relative;
  }
  .header__mob span {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #fff;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
  .header__mob span:nth-child(1) {
    top: 0;
    left: 0;
  }
  .header__mob span:nth-child(2) {
    bottom: 0;
    left: 0;
  }
}
.menubar {
  height: 100%;
  position: absolute;
  border-right: 1px solid #fff;
  z-index: 12;
}
.menubar__in {
  width: 100%;
  height: 100%;
  padding: 30px 13px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.menubar__top {
  -webkit-writing-mode: vertical-lr;
      -ms-writing-mode: tb-lr;
          writing-mode: vertical-lr;
  -webkit-transform: rotateX(-180deg) scale(-1, 1);
          transform: rotateX(-180deg) scale(-1, 1);
  color: #fff;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.menubar__btn.active span:nth-child(1) {
  top: calc(50% - 0.5px);
  left: 0;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}
.menubar__btn.active span:nth-child(2) {
  bottom: calc(50% - 0.5px);
  left: 0;
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
.menubar__btn {
  width: 30px;
  height: 22px;
  position: relative;
  cursor: pointer;
}
.menubar__btn span {
  width: 100%;
  height: 1px;
  background-color: #fff;
  display: block;
  position: absolute;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.menubar__btn span:nth-child(1) {
  top: 0;
  left: 0;
}
.menubar__btn span:nth-child(2) {
  bottom: 0;
  left: 0;
}
.menubar__soc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.menubar__soc_item {
  margin-bottom: 9px;
}
.menubar__soc_item:last-child {
  margin: 0;
}
.menubar__soc_item a {
  display: block;
}

@media (max-width: 1000px) {
  .menubar {
    display: none;
  }
}
.menu.active {
  -webkit-transform: translateX(0%);
      -ms-transform: translateX(0%);
          transform: translateX(0%);
}

.menu {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 11;
  width: 100%;
  height: 100%;
  background-color: var(--blue);
  -webkit-transform: translateX(-100%);
      -ms-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-transition: all 0.7s ease-in-out;
  -o-transition: all 0.7s ease-in-out;
  transition: all 0.7s ease-in-out;
}
.menu__nav {
  padding-top: 50px;
  padding-left: 100px;
  height: 100%;
  position: relative;
}
.menu__nav_soc {
  display: none;
}
.menu__nav_vd {
  position: absolute;
  top: 50px;
  right: 50px;
  width: 313px;
  height: 191px;
}
.menu__nav_vd_pl {
  width: 100%;
  height: 100%;
}
.menu__nav_vd_pl img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.menu__nav_list {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.menu__nav_item.p-0 {
  padding-left: 0;
}
.menu__nav_item.p-20 {
  padding-left: 20%;
}
.menu__nav_item.p-40 {
  padding-left: 40%;
}
.menu__nav_item {
  margin-bottom: 50px;
}
.menu__nav_item a {
  font-weight: 400;
  font-size: 72px;
  line-height: 92px;
  color: #fff;
  display: block;
}

@media (max-width: 1000px) {
  .menu {
    width: 60%;
    z-index: 9;
    position: fixed;
  }
  .menu__nav {
    padding: 25px;
    padding-top: 125px;
  }
  .menu__nav_soc {
    display: block;
  }
  .menu__nav_soc_item {
    display: block;
    margin-bottom: 25px;
    width: 37px;
    height: 37px;
  }
  .menu__nav_soc_item img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .menu__nav_vd {
    display: none;
  }
  .menu__nav_list {
    height: auto;
    margin-bottom: 35px;
  }
  .menu__nav_item {
    margin-bottom: 0;
    margin-bottom: 30px;
  }
  .menu__nav_item:last-child {
    margin-bottom: 0;
  }
  .menu__nav_item a {
    font-weight: 400;
    font-size: 25px;
    line-height: 30px;
  }
  .menu__nav_item.p-0 {
    padding-left: 0;
  }
  .menu__nav_item.p-20 {
    padding-left: 0;
  }
  .menu__nav_item.p-40 {
    padding-left: 0;
  }
}
@media (max-width: 550px) {
  .menu {
    width: 100%;
  }
}
.hero {
  height: 100vh;
  min-height: 750px;
  width: 100vw;
  background: var(--blue);
  position: relative;
}
.hero__bg {
  position: absolute;
  top: 0;
  right: 0;
  width: 40%;
  max-height: 100vh;
  height: 100%;
}
.hero__bg img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.hero__wrap {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  z-index: 1;
  padding-top: 123px;
}
.hero__in {
  max-width: 70vw;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.hero__content {
  width: 33vw;
  background-image: url("../img/hero/hero-bg.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.hero__content_title {
  font-weight: 400;
  font-size: 44px;
  line-height: 56px;
  color: #fff;
  margin-bottom: 20px;
}
.hero__content_descr {
  color: #fff;
  margin-bottom: 40px;
}
.hero__content_btn {
  margin-bottom: 40px;
}
.hero__content_scroll {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-animation: hero-arrow 2s ease-in-out infinite;
          animation: hero-arrow 2s ease-in-out infinite;
}
.hero__content_scroll img {
  cursor: pointer;
}
@-webkit-keyframes hero-arrow {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(30px);
            transform: translateY(30px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
@keyframes hero-arrow {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(30px);
            transform: translateY(30px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
.hero__video {
  width: 35vw;
  height: 43vh;
  min-height: 443px;
  background-color: var(--blue);
  position: relative;
  -webkit-box-shadow: 0px 8px 14px rgba(0, 0, 0, 0.32);
          box-shadow: 0px 8px 14px rgba(0, 0, 0, 0.32);
  border-radius: 10px;
  overflow: hidden;
}
.hero__video_play {
  position: absolute;
  top: calc(50% - 49.5px);
  left: calc(50% - 49.5px);
  z-index: 5;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.hero__video_play:hover {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}
.hero__video_pl {
  width: 100%;
  height: 100%;
}
.hero__video_pl img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (max-width: 1300px) {
  .hero__in {
    max-width: 1230px;
    padding: 0 15px;
    padding-left: 65px;
  }
  .hero__content {
    width: 48%;
  }
  .hero__content_title {
    font-size: 30px;
    line-height: 40px;
  }
  .hero__video {
    width: 50%;
    min-height: 300px;
  }
}
@media (max-width: 1050px) {
  .hero__content_title {
    font-size: 25px;
    line-height: 30px;
  }
  .hero__content_descr {
    font-size: 16px;
    line-height: 18px;
  }
}
@media (max-width: 1000px) {
  .hero {
    min-height: unset;
    height: auto;
    padding-bottom: 30px;
  }
  .hero__bg {
    max-height: 50vh;
  }
  .hero__bg:after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(63, 80, 118, 0.5);
    z-index: 2;
    content: "";
  }
  .hero__wrap {
    padding-top: 100px;
    position: relative;
    z-index: 3;
  }
  .hero__in {
    padding: 0 15px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .hero__content {
    width: 100%;
    margin-bottom: 90px;
  }
  .hero__content_btn {
    margin-bottom: 20px;
  }
  .hero__content_scroll {
    display: none;
  }
  .hero__video {
    width: 100%;
  }
}
.adv__wrap {
  padding: 100px 0;
}
.adv__item_body_descr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.adv__item_body_descr .num {
  margin-right: 22px;
  color: var(--blue);
}
.adv__item_body_descr .text {
  max-width: 500px;
}
.adv__item.adv__item_1 {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 100px;
}
.adv__item.adv__item_1 .adv__item_bg {
  max-height: 673px;
  width: 50vw;
  overflow: hidden;
}
.adv__item.adv__item_1 .adv__item_bg img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.adv__item.adv__item_1 .adv__item_body {
  margin-left: -100px;
}
.adv__item.adv__item_1 .adv__item_body_title {
  margin-bottom: 25px;
}
.adv__item.adv__item_1 .adv__item_body_descr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 550px;
  margin: 0 auto;
  margin-bottom: 120px;
}
.adv__item.adv__item_1 .adv__item_body_descr .num {
  color: var(--blue);
  margin-right: 22px;
}
.adv__item.adv__item_1 .adv__item_body_img {
  margin-left: -80px;
}
.adv__item.adv__item_2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  margin-bottom: 100px;
}
.adv__item.adv__item_2 .adv__item_bg {
  width: 30vw;
  overflow: hidden;
  max-height: 570px;
  position: absolute;
  top: -50px;
  right: 0;
}
.adv__item.adv__item_2 .adv__item_bg img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.adv__item.adv__item_2 .adv__item_body {
  max-width: 70vw;
  width: 100%;
  margin: 0 auto;
  min-height: 555px;
  background-color: var(--gray);
  padding: 70px;
  position: relative;
}
.adv__item.adv__item_2 .adv__item_body_title {
  margin-bottom: 35px;
}
.adv__item.adv__item_2 .adv__item_body_descr {
  padding-left: 100px;
}
.adv__item.adv__item_2 .adv__item_body_descr .num {
  color: var(--blue);
}
.adv__item.adv__item_2 .adv__item_body_descr .text {
  color: #fff;
}
.adv__item.adv__item_2 .adv__item_body_img {
  position: absolute;
  bottom: -60px;
  left: -20%;
}
.adv__item.adv__item_3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  margin-bottom: 100px;
}
.adv__item.adv__item_3 .adv__item_bg {
  position: absolute;
  top: 0;
  right: 0;
  width: 50vw;
  max-height: 439px;
  overflow: hidden;
}
.adv__item.adv__item_3 .adv__item_bg img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.adv__item.adv__item_3 .ex-w {
  padding-bottom: 50px;
  margin-left: 30px;
}
.adv__item.adv__item_3 .adv__item_body {
  max-width: 70vw;
  width: 100%;
  margin: 0 auto;
  position: relative;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
.adv__item.adv__item_3 .adv__item_body_title {
  margin-bottom: 60px;
}
.adv__item.adv__item_3 .adv__item_body_descr {
  padding-left: 70px;
}
.adv__item.adv__item_3 .adv__item_body_descr .text {
  max-width: 655px;
}
.adv__item.adv__item_4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.adv__item.adv__item_4 .adv__item_bg {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  width: 70vw;
  max-height: 570px;
  overflow: hidden;
  margin-top: -150px;
}
.adv__item.adv__item_4 .adv__item_bg img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.adv__item.adv__item_4 .adv__item_body {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  padding: 85px 150px;
  height: 555px;
  max-width: 70vw;
  width: 100%;
  margin: 0 auto;
  background-color: var(--gray);
}
.adv__item.adv__item_4 .adv__item_body_title {
  margin-bottom: 40px;
}
.adv__item.adv__item_4 .adv__item_body_descr .text {
  color: #fff;
}

@media (max-width: 1300px) {
  .adv__wrap {
    padding: 50px 0;
  }
  .adv__item_body_title {
    font-size: 40px;
    line-height: 45px;
  }
  .adv__item_body_descr .text {
    font-size: 18px;
    line-height: 20px;
  }
  .adv__item.adv__item_1 .adv__item_body {
    margin-left: 0px;
  }
  .adv__item.adv__item_1 .adv__item_body_descr {
    margin-bottom: 50px;
  }
  .adv__item.adv__item_2 .adv__item_body {
    padding: 20px;
    min-height: 300px;
  }
  .adv__item.adv__item_2 .adv__item_body_title {
    margin-bottom: 15px;
  }
  .adv__item.adv__item_2 .adv__item_body_descr {
    padding-left: 20px;
  }
  .adv__item.adv__item_2 .adv__item_body_img {
    width: 470px;
    height: 200px;
  }
  .adv__item.adv__item_2 .adv__item_body_img img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .adv__item.adv__item_3 .adv__item_body_title {
    margin-bottom: 20px;
  }
  .adv__item.adv__item_3 .adv__item_body_descr {
    padding-left: 20px;
  }
  .adv__item.adv__item_3 .adv__item_body_img {
    max-height: 400px;
    max-width: 200px;
    height: 100%;
    overflow: hidden;
  }
  .adv__item.adv__item_3 .adv__item_body_img img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .adv__item.adv__item_4 .adv__item_body {
    padding: 30px;
    height: 350px;
  }
}
@media (max-width: 1000px) {
  .adv__wrap {
    padding: 50px 0;
  }
  .adv__item_body {
    position: relative;
    padding: 30px;
  }
  .adv__item_body_title {
    font-size: 20px;
    line-height: 25px;
  }
  .adv__item_body_descr .num {
    font-size: 18px;
    line-height: 20px;
    margin-right: 15px;
  }
  .adv__item_body_descr .text {
    font-size: 16px;
    line-height: 18px;
  }
  .adv__item_body_img {
    position: absolute;
    top: -60px;
    left: 100px;
    max-width: 270px;
    width: 100%;
    max-height: 80px;
    height: 100%;
    overflow: hidden;
  }
  .adv__item_body_img img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .adv__item.adv__item_1 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .adv__item.adv__item_1 .adv__item_bg {
    width: 100%;
    max-height: 400px;
    overflow: hidden;
  }
  .adv__item.adv__item_1 .adv__item_body {
    width: 100%;
    padding: 30px 15px;
  }
  .adv__item.adv__item_1 .adv__item_body_descr {
    max-width: unset;
    margin-bottom: 0;
  }
  .adv__item.adv__item_2 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .adv__item.adv__item_2 .adv__item_bg {
    position: static;
    width: 100%;
    max-height: 300px;
    overflow: hidden;
  }
  .adv__item.adv__item_2 .adv__item_bg img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .adv__item.adv__item_2 .adv__item_body {
    max-width: 90vw;
    margin: 0 0 0 auto;
    margin-bottom: 50px;
  }
  .adv__item.adv__item_2 .adv__item_body_title {
    margin-left: -35px;
  }
  .adv__item.adv__item_2 .adv__item_body_descr {
    padding-left: 0;
    margin-left: -35px;
  }
  .adv__item.adv__item_2 .adv__item_body_img {
    top: unset;
    left: -20px;
    bottom: -30px;
    max-height: 251px;
    max-width: 80vw;
  }
  .adv__item.adv__item_3 .adv__item_bg {
    bottom: -50px;
    width: 290px;
    top: unset;
    left: calc(50% - 145px);
    z-index: 3;
  }
  .adv__item.adv__item_3 .adv__item_body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    max-width: unset;
    padding: 30px 0;
  }
  .adv__item.adv__item_3 .adv__item_body .ex-w {
    margin-left: 0;
    padding: 0 15px;
    padding-bottom: 85px;
  }
  .adv__item.adv__item_3 .adv__item_body_descr {
    padding-left: 0;
  }
  .adv__item.adv__item_3 .adv__item_body_img {
    position: static;
    width: 100%;
    max-width: unset;
    max-height: 300px;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .adv__item.adv__item_4 .adv__item_body {
    padding: 30px 15px;
    max-width: unset;
    width: 90vw;
    margin: 0 0 0 auto;
  }
  .adv__item.adv__item_4 .adv__item_body_title {
    margin-left: -30px;
    margin-bottom: 25px;
  }
  .adv__item.adv__item_4 .adv__item_body_descr {
    margin-left: -30px;
  }
  .adv__item.adv__item_4 .adv__item_bg {
    z-index: 3;
    width: 100%;
  }
}
.res {
  padding: 100px 0;
}
.res__wrap {
  max-width: 1393px;
  padding: 0 15px;
  width: 100%;
  margin: 0 auto;
}
.res__in {
  width: 100%;
}
.res__head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 55px;
}
.res__head_main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.res__head_main_title {
  font-weight: 400;
  font-size: 33px;
  line-height: 42px;
  max-width: 684px;
  width: 100%;
  text-transform: uppercase;
}
.res__head_main_ex {
  max-width: 127px;
  width: 100%;
  color: var(--blue);
  text-transform: uppercase;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  margin-right: 36px;
}
.res__head_btn .button {
  border-color: var(--black);
}
.res__head_btn .button span {
  color: var(--black);
}
.res__head_btn .button:hover {
  background-color: var(--black);
}
.res__head_btn .button:hover span {
  color: #fff;
}
.res__head_btn .button:hover .icon svg path {
  fill: #fff;
}
.res__body_scrollbar {
  display: none;
}
.res__body_item {
  cursor: pointer;
}
.res__body_item:hover .res__body_item_main_img:after {
  height: 70%;
  opacity: 1;
}
.res__body_item:hover .res__body_item_main_img img {
  opacity: 1;
}
.res__body_item_head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.res__body_item_head .num {
  font-weight: 400;
  font-size: 90px;
  line-height: 115px;
  margin-right: 13px;
}
.res__body_item_head .descr__top {
  font-weight: 400;
  font-size: 24px;
  line-height: 31px;
}
.res__body_item_head .descr__bot {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
}
.res__body_item_main {
  position: relative;
  border-radius: 5px;
  overflow: hidden;
}
.res__body_item_main_img {
  width: 100%;
  height: 100%;
  position: relative;
}
.res__body_item_main_img:after {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--gold);
  opacity: 0.7;
  content: "";
  z-index: 2;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.res__body_item_main_img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: relative;
  z-index: 1;
  opacity: 0.7;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.res__body_item_main_descr {
  position: absolute;
  z-index: 3;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 25px;
  color: #fff;
}
.res__body_item_main_descr .title {
  font-weight: 400;
  font-size: 24px;
  line-height: 31px;
}
.res__body_item_main_descr .text {
  font-weight: 400;
  font-size: 24px;
  line-height: 31px;
}
.res__body_item_main_descr .link {
  display: inline-block;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.res__body_item_main_descr .link:hover {
  color: var(--blue);
}

@media (max-width: 1300px) {
  .res {
    padding: 50px 0;
  }
  .res__head_main {
    width: 60%;
  }
  .res__head_main_title {
    font-size: 25px;
    line-height: 30px;
    max-width: unset;
  }
  .res__head_btn {
    width: 40%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .res__head_btn .button {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
  }
}
@media (max-width: 1000px) {
  .res__head {
    margin-bottom: 30px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .res__head_main {
    width: 100%;
    margin-bottom: 29px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .res__head_main_ex {
    width: 100%;
    margin-bottom: 10px;
  }
  .res__head_main_title {
    width: 100%;
  }
  .res__head_btn {
    width: 100%;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .res__body {
    padding-bottom: 50px;
    position: relative;
  }
  .res__body_item.swiper-slide-active .res__body_item_head .num {
    color: var(--gold);
  }
  .res__body_item_main_img {
    max-height: 290px;
  }
  .res__body_scrollbar {
    display: block;
    height: 7px;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #C4C4C4;
    border-radius: 15px;
  }
  .res__body_scrollbar .swiper-scrollbar-drag {
    border-radius: 15px;
    background-color: var(--blue);
  }
}
.last__wrap {
  position: relative;
}
.last__in {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 1393px;
  padding: 0 15px;
  width: 100%;
  margin: 0 auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.last__body {
  position: relative;
  z-index: 2;
  padding: 100px 0;
  width: 55%;
}
.last__body_title {
  font-weight: 400;
  font-size: 48px;
  line-height: 61px;
  text-transform: uppercase;
  margin-bottom: 33px;
}
.last__img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.last__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (max-width: 1300px) {
  .last__body {
    width: 60%;
    padding: 50px 0;
  }
  .last__body_title {
    font-size: 25px;
    line-height: 30px;
  }
  .last__body_text {
    font-size: 18px;
    line-height: 20px;
  }
}
@media (max-width: 1000px) {
  .last__body {
    width: 100%;
    position: relative;
    z-index: 3;
  }
  .last__body_title {
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    margin-bottom: 30px;
  }
  .last__body_text {
    font-weight: 400;
    font-size: 14px;
    line-height: 23px;
  }
  .last__img:after {
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(204, 204, 204, 0.7);
    z-index: 2;
    content: "";
    width: 100%;
    height: 100%;
  }
}
.footer {
  background-color: var(--gray);
  color: #fff;
}
.footer__wrap {
  max-width: 1393px;
  padding: 0 15px;
  width: 100%;
  margin: 0 auto;
}
.footer__in {
  padding: 50px 0;
}
.footer__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 20px;
}
.footer__top_first {
  max-width: 327px;
  width: 100%;
}
.footer__top_first_head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
}
.footer__top_first_head_logo {
  margin-right: 15px;
}
.footer__top_first_head_title {
  font-weight: 400;
  font-size: 14px;
  line-height: 23px;
  max-width: 199px;
  width: 100%;
}
.footer__top_first_descr {
  font-weight: 400;
  font-size: 11px;
  line-height: 14px;
}
.footer__top_second {
  max-width: 327px;
  width: 100%;
}
.footer__top_second_title {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  margin-bottom: 20px;
}
.footer__top_second_text {
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
}
.footer__top_third {
  max-width: 327px;
  width: 100%;
}
.footer__top_third_title {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  margin-bottom: 20px;
}
.footer__top_third_text {
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
}
.footer__top_soc {
  max-width: 327px;
  width: 100%;
}
.footer__top_soc_title {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  margin-bottom: 20px;
}
.footer__top_soc_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.footer__top_soc_list a {
  display: block;
  margin-right: 20px;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.footer__top_soc_list a:last-child {
  margin: 0;
}
.footer__bot {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.footer__bot_cp {
  font-weight: 400;
  font-size: 11px;
  line-height: 14px;
  max-width: 327px;
  width: 100%;
}
.footer__bot_link {
  display: block;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  max-width: 327px;
  width: 100%;
}

@media (max-width: 1300px) {
  .footer__in {
    padding: 25px 0;
  }
  .footer__top_first {
    max-width: 260px;
    width: 100%;
  }
  .footer__top_second {
    max-width: 260px;
    width: 100%;
  }
  .footer__top_third {
    max-width: 260px;
    width: 100%;
  }
  .footer__top_soc {
    max-width: 260px;
    width: 100%;
  }
  .footer__bot {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .footer__bot_link {
    font-size: 12px;
    line-height: 16px;
  }
  .footer__bot_link:last-child {
    display: none;
  }
}
@media (max-width: 1000px) {
  .footer__top {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .footer__top_first {
    max-width: unset;
    width: 100%;
    margin-bottom: 30px;
  }
  .footer__top_second {
    display: none;
  }
  .footer__top_third {
    display: none;
  }
  .footer__top_soc {
    max-width: unset;
    width: 100%;
    margin-bottom: 40px;
  }
  .footer__top_soc_title {
    display: none;
  }
  .footer__top_soc a {
    margin-bottom: 0;
  }
  .footer__bot {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .footer__bot_link {
    width: 100%;
    margin-bottom: 10px;
  }
  .footer__bot_cp {
    display: none;
  }
}